@font-face {
		font-family: 'Sucrose Bold Two';
		src: url('../font/sucrose.woff2') format('woff2');
		}
@font-face {
    font-family: 'IM Fell French Canon Pro';
    src: url('../font/im-fell-french-canon-pro.woff2') format('woff2');
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mountain-range.jpg") no-repeat; */
	background: url("/../image/header-logo.png") no-repeat;
  padding-top: 61.9333333 %;
  background-size: cover;
  font-family: 'Sucrose Bold Two';
  height: 170px;
}

header img {
  position: absolute;
  top: 0;
  right: 0;
  width: 45.8%;
}

header h1 {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 4vw;
  line-height: .8;
  margin-top: 0;
  text-align: center;
}

header h1 span {
  display: block;
  font-size: 2.75vw;
}

.container {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	margin: 20px;
	width: auto;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

main {
  display: flex;
	flex-direction: column;
  min-height: 100vh;
  background: #fff;
  position: relative;
  border: 1px solid #fff;
  font-family: 'IM Fell French Canon Pro';
  font-size: 1.4rem;
  line-height: 1.6;
}

@media all and (max-width: 400px){
  main {padding: 2rem;}
}

main > article {
  flex: 1;
  padding: 0.2rem 3%;
}


main > .atividades {
  display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.02);
	justify-content: center;
	padding: 0px 40px 0px 40px;
}

.msup{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 8px;
	margin-bottom: 32px;
	display: block;
}

.band {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
	background: white;
	text-decoration: none;
	color: #444;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin-bottom: 32px;
	position: relative;
	top: 0;
	transition: all .1s ease-in;
}

/* move o card quando recebe o foco */
.card:hover {
	top: -2px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

/* Tipografia */
.card article {
	padding: 20px;
}

.card h1 {
	font-size: 20px;
	margin: 0;
	color: #333;
}

.card p {
	line-height: 1.4;
}

.card span {
	font-size: 12px;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin: 2em 0 0 0;
}

.card .thumb {
	padding-bottom: 70%;
	background-size: cover;
	background-position: center center;
}

.card article {
	padding: 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card p {
	flex: 1;
	line-height: 1.4;
}

header, footer, article, nav, aside {
  padding: 1em;
}

h1, h3, h3, h4 {
  line-height: normal;
  word-wrap: break-word;
  color: #000;
}

a, a:active, a:hover, a:focus {
  text-decoration: none;
  color: #4F78A4;
}

footer {
  height: 10vh;
  background:rgba(0, 0, 0, 0.75);
  border:1px solid #111;
   box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
   text-align: center;
   font: 700 1rem Roboto, Arial, Helvetica, Sans-serif;
	color: #f2f2f2;
}
